@use 'utils/variables';
@use 'utils/breakpoints';

.container {
  background-color: variables.$primary;
  border-radius: variables.$radius-1;
  box-shadow: variables.$shadow-2;
  position: sticky;
  top: 0px;
  z-index: 999;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 14px 0;
  column-gap: 20px;
}

.logoWrapper {
  display: flex;
  align-items: center;
  column-gap: 15px;
  justify-content: center;

  @media (max-width: breakpoints.$xs) {
    display: none;
  }
}

.logo {
  width: 45px;
  height: 45px;
}

.title {
  @media (max-width: breakpoints.$md) {
    display: none;
  }
}
