@use 'utils/breakpoints';

.search {
  @media (max-width: breakpoints.$xs) {
    width: 100%;
  }

  :global {
    .MuiInputBase-input,
    .MuiFormLabel-root {
      font-size: 1.25rem;
    }
    .MuiInputLabel-outlined.MuiInputLabel-shrink {
      transform: translate(14px, -8px) scale(0.75);
    }
    legend span {
      padding-right: 12px;
    }
  }
}
