@use 'utils/variables';
@use 'utils/breakpoints';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  background: variables.$bg-app;
  word-wrap: break-word;
}

:global {
  .dialog .MuiPaper-root {
    max-height: 100%;
    width: 100%;
    margin: 0px;
    background-color: variables.$primary;
  }

  .snackbar {
    left: 50%;
    right: auto;
    top: 10px;
    bottom: auto;
    transform: translate(-50%);
    max-width: 100%;

    @media (max-width: breakpoints.$sm) {
      left: 8px;
      right: 8px;
      top: 10px;
      transform: none;
    }
  }

  .MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
    border-color: variables.$secondary;
  }

  .MuiFab-root,
  .MuiIconButton-root,
  .MuiButton-root {
    outline: 2px solid transparent;
    transition: 250ms variables.$timing-function-1;
    transition-property: background-color, box-shadow, outline-color;

    &.Mui-focusVisible {
      outline-color: rgba(0, 0, 0, 0.5);
    }
  }

  .MuiFab-root {
    &:active {
      box-shadow: none;
    }
  }

  .MuiButton-root {
    &.Mui-focusVisible {
      box-shadow: variables.$shadow-1;
    }
  }

  .MuiIconButton-root,
  .MuiButton-root {
    &,
    &:hover {
      box-shadow: variables.$shadow-1;
    }

    &:active {
      box-shadow: none;
    }
  }
}
