@use 'utils/variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  background: variables.$bg-app;
}

:global {
  .app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
}
