@use 'utils/variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  background: variables.$bg-app;
  word-wrap: break-word;
}

:global {
  .dialog .MuiPaper-root {
    max-height: 100%;
    width: 100%;
    margin: 0px;
    background-color: variables.$primary;
  }
}
